//HOME PAGE services card buttons
.custom-services-row {
    margin-left: -5px;
    margin-right: -5px;
  }
  
  .custom-services-col {
    padding: 0;
  }
  
  .custom-services-card {
    margin-bottom: 0 !important;
  }
 
  
  .btn.card-button a {
  transition: all 0.5s ease-out; 
    color: #blue;
    text-decoration: none;
  }
  a:hover { 
    transition: all 0.5s ease-out;
    text-decoration: underline;
    color: crimson;  /* Notes: Hover effect-links set to transition between text color and underline on hover.*/
}