//HOME PAGE services card buttons
.custom-services-row {
    margin-left: -5px;
    margin-right: -5px;
  }
  
  .custom-services-col {
    padding: 0;
  }
  
  .custom-services-card {
    margin-bottom: 0 !important;
  }
 
  
  .btn.card-button a {
  transition: all 0.5s ease-out; 
    color: #blue;
    text-decoration: none;
  }
  a:hover { 
    transition: all 0.5s ease-out;
    text-decoration: underline;
    color: crimson;  /* Notes: Hover effect-links set to transition between text color and underline on hover.*/
}

.circle-frame {
 
  border-radius: 50%;
  border: 2px solid black;
  padding: 15px;
  overflow: hidden;
  background-color: white; /* You can change the background color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-frame img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.roll-in-view1 {
  animation: rollIn1 1.5s ease-in-out;
}

@keyframes rollIn1 {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}

.roll-in-view2 {
  animation: rollIn2 2s ease-in-out;
}

@keyframes rollIn2 {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}

.roll-in-view3 {
  animation: rollIn 2.5s ease-in-out;
}

@keyframes rollIn {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.roll-in-view4 {
  animation: rollIn 3s ease-in-out;
}

@keyframes rollIn {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
